@font-face {
    font-family: 'Neue';
    src: url('../font/Neue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Neue";
}
h1,h2{
    font-family: "font/HelveticaNeueBold.ttf";
}
#container1{
    width: 100%;
    position: relative;
}
#bg1{
    position: fixed;
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#close{
    position: fixed;
    width: 100%;
    bottom: 30px;
    z-index: 1;
    opacity: 0;
}
.closeinner{
    width: 600px;
    margin: 0 auto;
    padding: 30px 50px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.3);
}
.closecontent p{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.closebutton{
    text-align: right;
}
.closebutton p{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}
.closebutton p:hover{
    cursor: pointer;
}
.content1 img{
    height: 90px;
}
.picinner{
    display: none;
}
.pictop{
    display: flex;
    padding: 10vh;
}
.pictop div,.picbottom div{
    margin-right: 30px;
}
.pics{
    padding-top: 20px;
}
.pice{
    padding-top: 40px;
}
.picu{
    padding-top: 80px;
}
.pica{
    padding-top: 50px;
}
.pich{
    padding-top: 60px;
}
.picr{
    padding-top: 70px;
}
.picm{
    padding-top: 50px;
}
.pict{
    padding-top: 50px;
}
.picbottom{
    display: flex;
    justify-content: right;
}
#container1 .text{
    width: 70%;
    margin: 400px auto 0 auto;
    text-align: center;
    padding-bottom: 300px;
}
#container1 .text p{
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}


#container2{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
    z-index: 2;
}
#bg2{
    position: absolute;
    top: 60vh;
    z-index: 22;
}
.bg2inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.bgimg2-1,.bgimg2-2,.bgimg2-3{
    width: 100%;
}

.bg2inner img{
    width: 100%;
}
.content21{
    width: 100%;
    height: 100vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.content21 h1{
    text-align: center;
    color: white;
    font-size: 100px;
    line-height: 40vh;
    padding-top: 20vh;
}
.content21 .text{
    text-align: center;
    line-height: 80px;
}
.content21 .text p{
    color: white;
}
.content22{
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 23;
    bottom: 0;
    left: 0;
}
.content22 p{
    color: red;
    font-size: 18px;
}
.content22-flex{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.tip1{
    padding-bottom: 10vh;
}
.content22-flex{
    padding-bottom: 12vh;
}
.content22mid{
    width: 100%;
    text-align: center;
}
.tip3{
    padding-bottom: 150px;
}


#container3{
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: white;
}
#container3 .title{
    padding: 50px 0;
}
#container3 .title h1{
    color: yellow;
    text-align: center;
    font-size: 100px;
    line-height: 100px;
}

#droppable{ 
    width: 80%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
#droppable .img{
    width: 20%;
}
#droppable .img img{
    width: 100%;
}

#container4{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 3;
    background-color: white;
}

.bg4{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-image: url(../images/eyes2-min-min.png);
    background-size: cover;
}
.bg4 .text{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
.bg4 .text p{
    color: white;
    line-height: 35px;
    font-size: 16px;
}
.bg4 h1{
    line-height: 100px;
    font-size: 90px;
    color: white;
    text-align: center;
}

.content4{
    width: 49%;
    float: right;
}
.content4per{
    width: 46vw;
    height: 46vw;
    border-radius: 50%;
    background-color: brown;
    text-align: center;
    margin: 50px auto;
}
.content4per h2{
    color: white;
    padding-top: 15vw;
    font-size: 80px;
}
.content4text{
    width: 70%;
    margin: 20px auto;
}
.content4text p{
    line-height: 30px;
    font-size: 16px;
    color: white;
}



#container5{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 51;
}
.bg5{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/eyes-min.png);
    background-size: cover;
}

.content5{
    position: absolute;
    width: 100%;
    z-index: 52;
}
.content5 h1{
    padding-top: 100px;
    text-align: center;
    font-size: 80px;
    line-height: 120px;
    color: white;
}
.content5per{
    width: 70%;
    margin: 0 auto;
}
.content5-1,.content5-2,.content5-3,.content5-4{
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background-color:rgba(134, 34, 34, 0.8);
    margin-top: 70px;
}
.content5-1 h2,.content5-4 h2{
    line-height: 35vw;
    color: white;
    text-align: center;
    font-size: 80px;
}
.content5-2 h2{
    padding-top: 15vw;
    color: white;
    text-align: center;
    font-size: 50px;
}
.content5-3 h2{
    padding-top: 15vw;
    color: white;
    text-align: center;
    font-size: 60px;
}
.content5-1 div,.content5-2 div,.content5-3 div,.content5-4 div{
    color: white;
    width: 25vw;
    height: 25vw;
    margin: 0 auto;
    font-size: 16px;
    display: none;
    padding-top: 10vw;
}
.more{
    text-align: center;
    padding: 50px 0;
    clear: both;
}
.more p a{
    line-height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.content5-2,.content5-4{
    float: right;
    margin-top: -10vw;
}


#container6{
    width: 100%;
    height: 400vh;
    position: relative;
    background-color: orange;
    z-index: 61;
    overflow: hidden;
}
.video-background {
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
    bottom: 0;
    left: 0;
    position: absolute;
  }
   
.video-background video {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 60; 
}

.content6innner{
    width: 100%;
    height: 100vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 62;
    
}
.content6innner h1{
    text-align: center;
    color: white;
    font-size: 100px;
    line-height: 40vh;
    padding-top: 20vh;
}
.content6-text{
    font-size: 30px;
    color: white;
}
.content6per{
    width: 75vh;
    height: 100%;
    text-align: center;
}

.pp6{
    max-width: 45vh;
    padding-left: 11vh;
}


.content6-1{
    width: 71vh;
    height: 20vh;
    position: fixed;
    left: 100%;
    top: 0;
    background-color: brown;
    z-index: 67;
    padding: 40vh 2vh;

}
.content6-1 p{
    color: white;
}
.content6-2{
    width: 71vh;
    height: 20vh;
    position: fixed;
    left: 100%;
    top: 0;
    background-color: white;
    z-index: 68;
    padding: 40vh 2vh;
}
.content6-2 p{
    color: orange;
}
.content6-3{
    width: 71vh;
    height: 20vh;
    position: fixed;
    left: 100%;
    top: 0;
    background-color: brown;
    z-index: 69;
    padding: 40vh 2vh;
}
.content6-3 p{
    color: white;
}


#container7{
    width: 100%;
    height: 100vh;
    z-index: 71;
    position: relative;
    clear: both;
}
.video-background2 {
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
    bottom: 0;
    left: 0;
    position: absolute;
  }
   
.video-background2 video {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 72; 
}
.content7{
    position: absolute;
    z-index: 73;
    text-align: center;
}
.content7 h2{
    line-height: 80px;
    color: yellow;
    
    font-size: 50px;
}
.content7-1{
    padding: 70px;
    max-width: 800px;
    width: 96%;
    margin: 20px auto;
}
.content7-1 p{
    line-height: 30px;
    font-size: 16px;
    color: yellow;
    
    font-size: 16px;
}
.content7-2{
    width: 90%;
    margin: 50px auto;
    padding: 70px 0;
    border: 1px solid yellow;
}
.content7-2per{
    width: 72%;
    margin: 50px auto;
}
.content7-2per p{
    line-height: 30px;
    color: yellow;
    
    font-size: 16px;
}
.content7-3{
    padding: 70px 0 30px 0;
}
.content7-3per{
    width: 68%;
    margin: 30px auto;
}
.content7-3per p{
    font-size: 16px;
    color: yellow;
    line-height: 30px;
    font-size: 16px;
}
.content7-4{
    background-color: yellow;
    width: 60%;
    padding: 15%;
    margin: 0 auto;
}
.content7-4 p{
    font-size: 16px;
    color: black;
    
    font-size: 16px;
}


#container8{
    width: 100%;
    position: relative;
    background-color: white;
    z-index: 81;
    padding: 80px 0;
}
#container8 h2{
    text-align: center;
    font-size: 100px;
    line-height: 120px;
    color: yellow;
    max-width: 600px;
    margin: 0 auto;
    
}
.content8{
    width: 60%;
    margin: 30px auto;
    text-align: center;
}
.content8 p{
    font-size: 18px;
    line-height: 30px;
}
.content8inner{
    display: flex;
    justify-content: space-around;
    padding: 180px 0;
}
.content8left{
    display: flex;
    width: 42%;
}
.content8p p{
    color: red;
}
.content8c p{
    font-size: 22px;
    font-weight: bold;
    color: brown;
    line-height: 30px;
}
.content8right{
    display: flex;
    padding-top: 260px;
    width: 42%;
}


#container9{
    width: 100%;
    position: relative;
    background-color: white;
    z-index: 91;
}

.bg9{
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    float: right;
}
.bg9 img{
    width: 100%;
}
.content9{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120vh;
}
.content9 h2{
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: yellow;
    z-index: 92;
    max-width: 800px;
    margin: 0 auto;
    
}
.content9per{
    width: 90%;
    margin: 0 auto;
    clear: both;
}
.content9-1{
    width: 47%;
    float: left;
    display: none;
}
.content9-2{
    width: 47%;
    float: right;
    display: none;
    padding-top: 20px;
}
.content9-3{
    width: 52%;
    margin: 0 auto;
    display: none;
    padding-top: 20px;
}

#container10{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;
    z-index: 101;
}
.bg10{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/bg10.jpg);
    background-size: cover;
}
.content10{
    text-align: center;
    padding: 40vh 0 10vh 0;
    position: absolute;
    z-index: 102;
    width: 100%;
}
.content10 h2{
    line-height: 20vh;
    font-size: 100px;
    color: white;
}
.content10-1 p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.content10-2{
    padding-top: 70vh;
}
.content10-2 p{
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 30px;
}
.content10-3{
    padding: 80px 0 160px 0;
}
.content10-3 p{
    font-size: 20px;
    font-weight: bold;
    color: yellow;
    line-height: 30px;
}